{% extends "t_base.html" %}
{% load static %}




{% block noticias %}
{% endblock noticias %}

{% block noticias1 %} 
{% endblock noticias1 %}



{% block cuerpo %}


<div class="container border">



<div class="col-12 my-3 text-center">
  <h3 style="font-size:2.5em; color: #6FB26C; font-weight: bold;">Comprobantes de reparto.</h3>
</div>




  {% if lst_cmp %}
   <a href="#" onclick="tableToExcel('dataTable', 'Cr Nuevo Horizonte')" style="font-style:italic; color:#5FC65A;">Exportar a excel_ <i class="fas fa-file-excel"></i></a>
    <table class="table table-sm table-striped text-center" id="dataTable">
      <thead>
       <tr style="background:#2DA544; color:white; font-weight: bold;">
          <td>ID</td>
          <td>USUARIO</td>
          <td>ID-ORDEN | FECHA</td>
          <td>MONTO</td>
        </tr>
      </thead>
      <tbody>
        {% for lc in lst_cmp %}
          <tr style="font-style:italic; font-size:0.8em;">
            <td>CMPORD00{{lc.pk}}</td>
            <td>{{lc.id_orden.id_parcela.id_auth_user.first_name}}</td>
            <td>[{{lc.id_orden.pk}}] {{lc.id_orden.fecha_inicio.day}}/{{lc.id_orden.fecha_inicio.month}}/{{lc.id_orden.fecha_inicio.year}}_{{lc.id_orden.fecha_inicio.hour}}:{% if lc.id_orden.fecha_inicio.minute <= 9 %}0{% endif %}{{lc.id_orden.fecha_inicio.minute}}</td>
            <td>S/. {{lc.id_comprobante.monto}}</td>
          </tr>
      {% endfor %}
      </tbody>
      
    </table>
      
  {% else %}
    {{msj}}    
  {% endif %}
</div>

{% endblock cuerpo %}