{% extends "t_base.html" %}
{% load static %}


{% block noticias %} 
{% endblock noticias %}



{% block cuerpo %}


<div class="container border">


 
<div class="col-12 my-3 text-center">
      <h3 style="font-size:2.5em; color: #6FB26C; font-weight: bold;">Hoja repartos</h3>
</div>



  {% if lst_repartos %}

    <table class="table table-sm table-striped text-center">
      <thead>
         <tr style="background:#2DA544; color:white;">
          <td><strong>ID</strong></td>
          <td><strong>DESCRIPCIÓN</strong></td>
          <td><strong>FECHA</strong></td>
          <td><strong>TIPO</strong></td>
          <td><strong>ESTADO</strong></td>
          <td><i class="fas fa-box-open"></i></td>
        </tr>
      </thead>
      <tbody>
        {% for lr in lst_repartos %}
            <tr style="font-size:0.8em; font-style:italic;">
              <td>{{lr.pk}}</td>
              <td>{{lr.descripcion}}</td>
              <td>{{lr.fecha_reparto}}</td>
              <td><span class="badge" style="background:#A0D8B2;">{{lr.tipo}}</span></td>
              <td>{% if lr.estado == '1' %}<span class="badge" style="background:#68E168;">Creado</span>{% elif lr.estado == '2' %}<span class="badge" style="background:#E9CA4C;">Aperturado</span>{% elif lr.estado == '3' %}<span class="badge" style="background:#F885A0;">Emitido</span>{% elif lr.estado == '4' %}<span class="badge" style="background:#B6B6B5;">Cerrado</span>{% else %}Err{% endif %}</td>
              <td>
                <div class="btn-group">
                    <a href="{% url 'hj_or_reparto' %}?pkr={{lr.pk}}" class="btn btn-sm btn-outline-warning" title="Ver hoja de reaprto">
                      <i class="fas fa-list-ol"></i> Órd</a>
                    <a href="{% url 'hj_ml_reparto' %}?pkr={{lr.pk}}" class="btn btn-sm btn-outline-info" title="Ver hoja de multas">
                      <i class="fas fa-donate"></i> Mul</a>
                  </div>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

        
  {% else %}
    Err al traer los reaprtos.
  {% endif %}
</div>






{% endblock cuerpo %}