{% extends "c_base.html" %}

{% block txt_cabecera %}
	LISTA DE MULTAS
{% endblock txt_cabecera %}






{% block cuerpo %}
<div class="container">

<div class="row">
	<div class="col-12 text-center">
		<h1>Lista de multas.</h1>
	</div>
</div>



	{% if lst_ord %}
		<table class="table table-sm table-striped text-center" id="dataTable">
	      <thead>
	       <tr style="background:#2DA544; color:white; font-weight: bold;">
	          <td>ID</td>
	          <td>USUARIO</td>
	          <td>TIPO</td>
	          <td>MONTO</td>
	          <td>ESTADO</td>
	        </tr>
	      </thead>
	      <tbody>
	        {% for lm in lst_ord %}
	          <tr style="font-style:italic; font-size:1.0em;">
					<td>{{lm.id_multa.pk}}</td>
					<td>{{lm.id_orden.id_parcela.id_auth_user.last_name}}, {{lm.id_orden.id_parcela.id_auth_user.first_name}}</td>
					<td><span class="badge badge-info">Riego</span></td>
					<td>S/. {{lm.id_multa.monto}}</td>
					<td>{% if lm.id_multa.estado == "0" %}<span class="badge badge-pill badge-warning">Creada</span>{% elif lm.id_multa.estado == "1" %}<span class="badge badge-pill badge-success">Pagada</span>{% elif lm.id_multa.estado == "2" %}<span class="badge badge-pill badge-secondary">Anulada</span>{% else %}Err{% endif%}</td>
				</tr>
			{% endfor %}
	        {% for lm in lst_des %}
	          <tr style="font-style:italic; font-size:1.0em;">
					<td>{{lm.id_multa.pk}}</td>
					<td>{{lm.id_det_limpia.id_destajo.id_parcela.id_auth_user.last_name}}, {{lm.id_det_limpia.id_destajo.id_parcela.id_auth_user.first_name}}</td>
					<td><span class="badge badge-secondary">Limpieza</span></td>
					<td>S/. {{lm.id_multa.monto}}</td>
					<td>{% if lm.id_multa.estado == "0" %}<span class="badge badge-pill badge-warning">Creada</span>{% elif lm.id_multa.estado == "1" %}<span class="badge badge-pill badge-success">Pagada</span>{% elif lm.id_multa.estado == "2" %}<span class="badge badge-pill badge-secondary">Anulada</span>{% else %}Err{% endif%}</td>
				</tr>
			{% endfor %}
	        {% for lm in lst_asi %}
	          <tr style="font-style:italic; font-size:1.0em;">
					<td>{{lm.id_multa.pk}}</td>
					<td>{{lm.id_hoja_asistencia.id_auth_user.last_name}}, {{lm.id_hoja_asistencia.id_auth_user.first_name}}</td>
					<td><span class="badge badge-warning">Reunión</span></td>
					<td>S/. {{lm.id_multa.monto}}</td>
					<td>{% if lm.id_multa.estado == "0" %}<span class="badge badge-pill badge-warning">Creada</span>{% elif lm.id_multa.estado == "1" %}<span class="badge badge-pill badge-success">Pagada</span>{% elif lm.id_multa.estado == "2" %}<span class="badge badge-pill badge-secondary">Anulada</span>{% else %}Err{% endif%}</td>
				</tr>
			{% endfor %}				
	{% else %}
		<h1>NO HAY MULTAS</h1>
	{% endif %}
</div>
{% endblock cuerpo %}



	



