{% extends "t_base.html" %}
{% load static %}

{% block txt_not1 %}Listado de destajos.{% endblock txt_not1 %}
<br><br>
{% block p_msj %} 
{% endblock p_msj %}



{% block cuerpo %}


<div class="container">
{% if lst_dstjs %}
<a href="#" onclick="tableToExcel('dataTable', 'Cr Nuevo Horizonte')" style="font-style:italic; color:#5FC65A;">Exportar a excel_ <i class="fas fa-file-excel"></i></a>
  <table id="dataTable" class="table table-sm table-striped text-center">
    <thead>
      <tr style="background:#2DA544; font-weight: bold; color:white;">
        <td>Toma</td>
        <td>Parcela</td>
        <td>Canal</td>
        <td>Estado</td>
        <td>Usuario</td>
        <td>Tamaño</td>
        <td><i class="fas fa-box-open"></i></td>
      </tr>
    </thead>
    <tbody>
      {% for ob in lst_dstjs %}
        <tr style="font-style:italic; font-size:0.8em;">
              <td>{{ ob.id_destajo.num_orden }}</td>
              <td> {{ ob.id_destajo.id_parcela.nombre }}</td>
              <td> {{ ob.id_destajo.id_parcela.id_canal.nombre}}</td>
              <td id="tdstd{{ob.pk}}">
                {% if ob.estado == '0' %}
                  <span class="badge badge-light">Esperando</span>
                {% elif ob.estado == '1' %}
                  <span class="badge badge-primary">Revisado</span>
                {% elif ob.estado == '2' %}
                  <span class="badge badge-warning">Mal Hecho</span>
                {% elif ob.estado == '3' %}
                  <span class="badge badge-danger">No Hecho</span>
                {% else %}
                  Err {{ ob.estado}}
                {% endif %}
              </td>
              <td style="background:#F1FCF2;">{{ ob.id_destajo.id_parcela.id_auth_user.first_name }}</td>
              <td>{{ ob.id_destajo.tamano }} m</td>
              <td>
                  {% if ob.estado == '2' or ob.estado == '3' %}
                    <a href="#" data-toggle="modal" data-target="#ModalMultar{{ob.pk}}" class="btn btn-sm btn-outline-info"><i class="fas fa-money-check-alt"></i>  MULTAR</a>

                      <!-- Modal Esta -->
                        <div class="modal fade" id="ModalMultar{{ob.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crear Multa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Multa para <strong>{{ob.id_destajo.id_parcela.id_auth_user.first_name}}</strong>, por
                                <table class="w-100">
                                  <tr><td>Monto:</td><td><input id="mon{{ob.pk}}" type="number" min="0.1" step="0.1" class="form-control"></td></tr>
                                  <tr><td>Concepto:</td><td><textarea id="con{{ob.pk}}" type="text" rows="2" class="form-control"></textarea></td></tr>
                                </table>
                              </div>
                              <div class="modal-footer">
                                <a href="#" class="btn btn-sm btn-success" data-dismiss="modal">Cancelar</a>
                                <a href="#" class="btn btn-sm btn-primary" onclick="CrearMultaDstj({{ob.pk}})" data-dismiss="modal">GENERAR</a>
                              </div>
                            </div>
                          </div>
                        </div>
                  {% endif %}
              </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  {{msj}}
{% endif %}
</div>

{% endblock cuerpo %}