{% extends "p_base.html" %}


{% block txt_cabecera %}
	REPORTE DE CAUDAL--
{% endblock txt_cabecera %}


{% block noticias %}





{% if caudales %}


<div id="container" style="height: 400px"></div>


        <script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'column',
        options3d: {
            enabled: true,
            alpha: 15,
            beta: 15,
            viewDistance: 25,
            depth: 40
        }
    },

    title: {
        text: 'Reporte de niveles de de agua registrados.'
    },

    xAxis: {
        categories: [{% for c in caudales %}
                '{{c.fecha.day}}/{{c.fecha.month}}/{{c.fecha.year}}',
            {% endfor %}],
        labels: {
            skew3d: true,
            style: {
                fontSize: '16px'
            }
        }
    },

    yAxis: {
        allowDecimals: false,
        min: 0,
        title: {
            text: '{{fecha}}',
            skew3d: true
        }
    },

    tooltip: {
        headerFormat: '<b>{point.key}</b><br>',
        pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y} / {point.stackTotal}'
    },

    plotOptions: {
        column: {
            stacking: 'normal',
            depth: 40
        }
    },

    series: [{name: 'Caudal',
        data: [{% for c in caudales %}
                {{c.nivel}},
            {% endfor %}],
        stack: 'male'
    }]
});


        </script>





<!--div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



<script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'area'
    },
    title: {
        text: 'Reporte del caudal de agua'
    },
    subtitle: {
        text: 'Reporte de caudal de : <b>{{ fecha.day }}/{{ fecha.month }}/{{ fecha.year }}</b>     &amp;    <b>{{ cant_cau }}</b> semanas atras.'
    },
    xAxis: {
        allowDecimals: false,
        labels: {
            formatter: function () {
                return this.value; // clean, unformatted number for year
            }
        }
    },
    yAxis: {
        title: {
            text: 'NIVEL DE LOS CANALES'
        },
        labels: {
            formatter: function () {
                return this.value / 1 + ' - Nivel';
            }
        }
    },
    tooltip: {
        pointFormat: ' <b>{series.name}</b> con  <b>nivel</b> de agua  <b>{point.y:,.0f}</b><br/> Hace {point.x} semanas!'
    },
    plotOptions: {
        area: {
           /* pointStart: (parseInt('{{ cant_cau }}')-2)*-1,*/

            marker: {
                enabled: false,
                symbol: 'circle',
                radius: 6,
                states: {
                    hover: {
                        enabled: true
                    }
                }
            }
        }
    },
    series: [
            {% for c in canales %}
                {
                    name: '{{ c.nombre }}',
                    data: [ 
                    {% for ca in caudal %}
                        {% if c.id_canal == ca.id_canal.pk %}
                            {{ ca.nivel }},
                        {% endif %}
                    {% endfor %}
                    
                     ]},
            {% endfor %}
        ]
});
		</script-->



{% else %}
    <h1>NO LLEÓ LA LISTA DE CANALES</h1>
{% endif %}

{% endblock noticias %}



{% block noticias1 %}
{% endblock noticias1 %}


{% block tabla %}	
{% endblock tabla %}


{% block graficos %}	
{% endblock graficos %}
