{% extends "u_base.html" %}
{% load static %}

{% block inicio_menu %}
{% endblock inicio_menu %}

{% block tabla %}	
{% endblock tabla %}



{% block graficos %}	
{% endblock graficos %}


{% block cuerpo %}	
<div class="container">


	<div class="row">
		<div class="container border">
			
			<form method="post">
				{% csrf_token %}
				{{form.as_p}}
				<button type="submit" class="btn btn-primary form-control">GUARDAR</button><br><br><br><br>
			</form>
		</div>
	</div>



</div>
{% endblock cuerpo %}
