body,html{
height:100%; /*Siempre es necesario cuando trabajamos con alturas*/
}

header{
	padding-left: 0.5em;
	color: #388251;
	 text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF,1px 0 #FFFFFF, 0 -1px #FFFFFF;
}

.cabecera{
	/*background-color: #84A58F;*/
	height: 15px;
	margin-top:15px;
}
 
.barra{
	background-color: #84A58F;
}

.noticias{
	padding: 10px 5px;
}



.noticia{
	list-style: none;
	/*background: #C4EAF8;*/
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	width: 97%;
	height: 50px;
	border-radius: 3px;
}

.pie{
	/*background-color: #84A58F;*/
	text-align: right;
	height: 50px;
	position:fixed; /*El div será ubicado con relación a la pantalla*/
	bottom:0px; /*Abajo deje un espacio de 0px*/
	z-index:0;
}

.loggin{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	border: 1px solid #cdd1d4;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 15px;
	height: 400px;
}
h1 {
	box-shadow: 12px 12px 12px ##FFFFFF;
	/*color: #02C043;*/
	font-weight: normal;
	margin: 0;
	padding-left: 0.5em;
	position: relative;
}



h1:before {
	content: '';
	background: #323e4a;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
}


h1:after {
	content: '';
	background: white;
	display: block;
	height: 100%;
	left: -12px;
	position: absolute;
	transform: skewX(150deg);
	top: 0;
	width: 20%;
	z-index: -1;
}

img{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	border: 1px solid #cdd1d4;
	height: 7em;
	width: 10em;
}


/*
.seccion{
		background-color: #84A58F;
		height: 900px;
		padding: 10px;
}


.seccion1{
	text-align: center;
	height: 90%;
}
.seccion2{
	background-color: #FA7A7A;
	height: 90%;
	text-align: center;
}
.seccion3{
	background-color: #C6F8E3;
	height: 90%;
	text-align: center;
}
*/