
<link rel="stylesheet" type="text/css" href="bootstrap.css">
<style>

	.trs{
		line-height : 15px;
	}
	.htr{
		background: #C2BDBD;
	}
	.tabla1{
		width: 100%;
	}
	.resumen{
		position: relative;
		height: 100px;
	}
	.col-8{
		width: 65%;
		padding-left: 20px;
		float: left;
	}
	.col-4{
		width: 30%;
		float: right;
	}
</style> 

{% if asistencias %}
<br>


 <div style="height: 30px;">
    <div class="col-12" style="height: 32px; background: #F1EEEE;">
      <span class="float-left mt-2"><span class="badge badge-secondary"><strong>{{fecha}}</strong></span></span>
      <span class="float-right font-italic text-muted">Comité de Regantes Nuevo Horizonte <img src="ico4.png" height="30px;" width="50px;"></span>
    </div>
    <br><br>              
  </div>


	<div class="resumen">
		<div class="col-8">
			<i> <strong>TIPO:</strong> {{ Asmb.tipo }}</i><br>
			<i> <strong>FECHA:</strong> {{ Asmb.fecha_asamblea }}</i><br>
			<i> <strong>MOTIVO:</strong> {{ Asmb.descripcion }}</i>
		</div>
		<div class="col-4">
			<i>Asistieron		: {{ a }}</i><br>
			<i>Llegaron tarde   : {{ b }}</i><br>
			<i>Faltaron			: {{ c }}</i>
		</div>
	</div>



	<table class="table-sm w-100">
		<thead>
			<tr class="htr">
				<td>ÍTEM</td>
				<td>USUARIO</td>
				<td>LLEGÓ</td>
				<td>HORA</td>
			</tr>
		</thead>
		<tbody>
			{% for x in asistencias %}
				<tr class="trs">
					<td>{{x.Item}}</td>
					<td>{{x.usuario}}</td>
					{% if x.estado == '3' %}
						<td>Faltó</td>
					{% elif x.estado  == '2' %}
						<td>Tarde</td>
					{% else %}
						<td>Asistió</td>
					{% endif %}
					<td>{{x.hora }}</td>
			{% endfor %}
		</tbody>
	</table>
	

{% else %}
	<p>no llego</p><br>
{% endif %}
