{% extends "c_base.html" %}




{% block cuerpo %}
<div class="container">
	<div class="row my-3 mx-2">




	<div class="col-12 my-3 text-center">
		<h3 style="font-size:2.5em; color: #6FB26C; font-weight: bold;">Listado de canales</h3>
	</div>


		<div class="col-12 ">
			
			{% if object_list %}
			<a href="#" onclick="tableToExcel('dataTable', 'Cr Nuevo Horizonte')" style="font-style:italic; color:#5FC65A;">
                Exportar a excel_ <i class="fas fa-file-excel"></i></a>
				<table class="table table-sm table-striped text-center" id="dataTable">
			      <thead>
			      	<tr style="background:#2DA544; color:white; font-weight: bold;">
			          	<td>NOMBRES</td>
						<td>TAMAÑO</td>
						<td>UBICACIÓN</td>
						<td><i class="fas fa-box-open"></i></td>
			        </tr>
			      </thead>
			      <tbody id="cuerpo">
				{% for ob in object_list %}
					<tr style="font-size: 0.8em;">
						<td>[{{ob.id_canal}}] {{ ob.nombre }}</td>
						<td>{{ ob.tamano }}</td>
						<td>{{ ob.ubicacion }}</td>
						<td>
							<div class="btn-group btn-sm">
								<a class="btn btn-sm btn-outline-success btn-sm" href="{% url 'c_canal_edi' ob.id_canal %}">
									<i class="far fa-edit"></i></a>								
								<a class="btn btn-sm btn-outline-danger btn-sm" href="{% url 'c_canal_eli' ob.id_canal %}" >
									<i class="far fa-trash-alt"></i></a>
							</div>
						</td>
					</tr>
				{% endfor %}
					</tbody>
				</table>				
				{% else %}
					<h1>Error en el servidor</h1>
				{% endif %}
		</div>
	</div>
</div>
{% endblock cuerpo %}
