{% extends "v_base.html" %}


{% block usuario_menu %}	
{% endblock usuario_menu %}


{% block noticia_menu %}  
{% endblock noticia_menu %}

{% block parcela_menu %}  
{% endblock parcela_menu %}

{% block canal_menu %}  
{% endblock canal_menu %}


{% block graficos_menu %}  
{% endblock graficos_menu %}



{% block pdfs_menu %}  
{% endblock pdfs_menu %}




{% block noticias %}
	<div class="container border">
		<form method="post">
			{% csrf_token %}

			<div class="row py-2 justify-content-around ">
				<p class="alert alert-primary alert-dismissable"><strong>PRONTO</strong></p>
				<p class="alert alert-danger alert-dismissable"><strong>YA COMENZÓ</strong></p>
				<p class="alert alert-secondary alert-dismissable"><strong>YA PASÓ</strong></p>
			</div>

			<div class="row">
 
			{% if asambleas %}
			 	{% for a in asambleas %}
				
					<div class="col-6  col-md-4 col-xl-3 mb-2">
						<div class="card text-white {% if a.estado == '1' %} bg-primary {% elif a.estado == '2' %} bg-danger {% else %} bg-secondary {% endif %} o-hidden h-100">
			                <div class="card-body">
			                  <div class="card-body-icon">
			                  	<i class="fas fa-clipboard-list"></i>
			                  </div>
			                  <div class="mr-2"><span class="badge badge-light" style="font-size:0.5em;">{{a.pk}}</span>
			                  	{{ a.tipo }}<br> 
			                  	<i class="fas fa-table"></i> 
			                  	{{a.fecha_asamblea.day}}/{{a.fecha_asamblea.month}}
			                  	<i class="far fa-clock"></i>  {{a.fecha_asamblea.hour}}:
			                  	{% if a.fecha_asamblea.minute > 10 %}
			                  		{{a.fecha_asamblea.minute}}
			                  	{% else %}
			                  		0{{a.fecha_asamblea.minute}}
			                  	{% endif %}		                  	
				              </div>
			                </div>
			                <dic class="row card-footer">			                	
				                	<div class="col-3">
				                		<a href="{% url 'v_hasis_gen' %}?id_asamb={{ a.pk }}" class="float-left text-white" title="{% if a.estado == '1' %}Generar Hoja de Asistencia{% else %}Controlar Asistencia{% endif %}"><i class="fas fa-user-check"></i></a>
				                	</div>

				                	<div class="col-2">{% if a.estado == "3" %}
				                		<a href="#" class="float-left text-white"><i class="fas fa-list-ol"></i></a>{% else %}.{% endif %}
				                	</div>
				                	<div class="col-2">
				                		{% if a.estado == "3" %}.{% else %}
				                		<a href="{% url 'v_asamb_edi' %}?id_asamb={{ a.pk }}" class="float-left text-white" title="Editar Asamblea">
				                			<i class="fas fa-cog"></i></a>{% endif %}
				                	</div>
				                	<div class="col-2">
				                		{% if a.estado == "1" %}.{% else %}
				                		<a href="{% url 'v_asamb_g_rep'%}?id_asamb={{ a.pk }}" class="float-left text-white" title="Generar Reporte Gráfico">
				                			<i class="fas fa-chart-pie"></i></a>{% endif %}			                		
				                	</div>
				                	<div class="col-2">
				                		{% if a.estado == "1" %}.{% else %}
				                		<a href="{% url 'v_asamb_p_lst'%}?id_asamb={{ a.pk }}" class="float-left text-white" title="Generar Reporte PDF">
				                			<i class="far fa-file-pdf"></i></a>{% endif %}
				                	</div>
			                </dic>
			              </div>
					</div>

			 	{% endfor %}
			{% endif %}
				

				
				
			</div>
			</form>
	</div>
{% endblock noticias %}


{% block noticias1 %}
{% endblock noticias1 %}



{% block tabla %}	
{% endblock tabla %}



{% block graficos %}	
{% endblock graficos %}