{% extends "v_base.html" %}


{% block usuario_menu %}	
{% endblock usuario_menu %}


{% block noticia_menu %}  
{% endblock noticia_menu %}

{% block parcela_menu %}  
{% endblock parcela_menu %}

{% block canal_menu %}  
{% endblock canal_menu %}


{% block graficos_menu %}  
{% endblock graficos_menu %}



{% block pdfs_menu %}  
{% endblock pdfs_menu %}




{% block noticias %}
	<div class="container">
		<br>

		<form method="post">
			{% csrf_token %}
				{% if msj %}
					<p class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>FELICIDADES</strong> {{msj}} + {{pka}}
					</p>				
				{% endif %}


			<div class="row">
				<div class="col-12  col-lg-6 mb-2">
					<label style="line-height:0.0em;">TIPO</label>
					<select class="form-control" id="tip_asamb" name="tipo_asamb" required="required" onchange="SelctTipoAsamblea()">
						<option value="--">--------------</option>
						<option value="General">REUNIÓN GENERAL</option>
						<option value="Simple">REUNIÓN SIMPLE</option>
					</select>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 mb-2">
					<label style="line-height:0.0em;">FECHA</label>
					<input type="date" name="fecha_asamb" class="form-control" required="required"/>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 mb-2">
					<label style="line-height:0.0em;">HORA</label>
					<input type="time" class="form-control mb-2" name="hora_asamb" required="required"/>
				</div>
				<div class="col-12">
					<label style="line-height:0.0em;">DESCRIPCIÓN</label>
					<textarea name="descripcion_asamb" class="form-control mb-2" required="required"></textarea>
				</div>


				<div id="acordion" class="col-12">
					<div class="card">
						<div class="card-header">
							<a href="#uno" class="card-link" data-toggle="collapse" data-parent="#acordion" aria-expanded="true">
							AGREGAR AGENDA<i class="fas fa-plus"></i></a>
						</div>
						<div id="uno" class="collapse" style="">
							<div class="input-group w-100">
								<textarea id="txt_itm" placeholder="opcional.." class="form-control"></textarea>
					          	<div class="input-group-append">
					            	<button class="btn btn-success" type="button" onclick="AgregarAgnd()"><i class="fas fa-plus"></i></button>
					          	</div>
					        </div>
						</div>
					</div>
				</div>



				<style>
					.form-check{
						font-style: italic;
						border-radius: 10px;
						padding-left: 25px;
						-webkit-box-shadow: 0px 2px 5px 2px rgba(117,189,139,1);
						-moz-box-shadow: 0px 2px 5px 2px rgba(117,189,139,1);
						box-shadow: 0px 2px 5px 2px rgba(117,189,139,1);
					}
					i{
						color: white;
					}
				</style>


				<div id="LstCanales" class="col-12 m-2 form-check d-none animated bounceInDown">					
						
					<label class="form-check-label">
						<input name="1001" type="checkbox" class="form-check-input" >Ramal 1
					</label> <i>_________</i>
					<label class="form-check-label">
						<input name="1002" type="checkbox" class="form-check-input">Ramal 2
					</label> <i>_________</i>
					<label class="form-check-label">
						<input name="1003" type="checkbox" class="form-check-input" >Ramal 3
					</label> <i>_________</i>
					<label class="form-check-label">
						<input name="1004" type="checkbox" class="form-check-input">Ramal 4
					</label>  <i>_________</i>
					<label class="form-check-label">
						<input name="1005" type="checkbox" class="form-check-input" >Ramal 5
					</label>
				</div>

				<input id="itm_cant" name="itm_cant" type="hidden" value="0" />
				 <div id="Agnd" class="col-12 m-2 ">
				 </div>

			</div><br>

				<button type="submit" class="btn btn-primary form-control mb-2">
					<i class="far fa-save"></i>   GUARDAR
				</button>
			</form>
	</div>
{% endblock noticias %}


{% block noticias1 %}
{% endblock noticias1 %}



{% block tabla %}
	
{% endblock tabla %}



{% block graficos %}
	
{% endblock graficos %}