{% extends "v_base.html" %}

{% block txt_cabecera %}
	ASAMBLEA
{% endblock txt_cabecera %}

 

{% block noticias %}
	
{% endblock noticias %}



{% block noticias1 %}
{% endblock noticias1 %}

 

{% block tabla %}	


<div class="row container w-100 m-2 p-1 border">

	<div class="col-12 col-md-7 col-lg-6 btn-group">
		<form action="#" method="post" class="form-inline w-100">
			{% csrf_token %}
			<div class="row w-100 m-2 border p-1">
				<div class="col-12">
					<h3 class="text-muted" id="txt_tit">Buscar usuario (Auth User) ... {{ msj }}  </h3>
				</div>
				<div class="col-12 mb-2 btn-group">
					<input type="text" placeholder="Buscar.." maxlength="8" class="w-100 btn w-100 border text-left" id="valor1" onkeyup="alEscribeJS1()">			
					<button class="btn btn-outline-secondary" disabled="true">
						<i class="fas fa-search"></i>
					</button>
				</div><br>

				<div class="col-12 btn-group" >
					<div class="btn border">
					<img src="/static/img/dni.png" height="30px"></div>
					<div id="dic_slc" class="btn btn-outline-success border" onclick="TipoMrc();">
						<i id="i_slc" class="fas fa-check"></i>
					</div>
					<input id="bar_dni" type="text" class="btn w-100 border" maxlength="8" onkeyup="Barcode()" style="font-size: 1.3em; font-family: Helvetica,Arial;" />
				</div>

			</div>	
		</form>
	</div>


	<div class="col-12 col-md-5 col-lg-5 btn-group border">
		<div class="w-100" style="height: 200px; ">
			
			<div id="container"  style="min-width: 100%; height: 100%; max-width: 100%;"></div>

		</div>
	</div>

</div>




<script type="text/javascript">


	
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
    },
    title: {
        text: 'Reunión<br>General<br>03/02/2019',
        align: 'center',
        verticalAlign: 'middle',
        y: 40
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            dataLabels: {
                enabled: true,
                distance: -50,
                style: {
                    fontWeight: 'bold',
                    color: 'white'
                }
            },
            startAngle: -90,
            endAngle: 90,
            center: ['50%', '105%'],
            size: '210%'
        }
    },
    series: [{
        type: 'pie',
        name: 'Runión 03/02/19',
        innerSize: '60%',
        data: [
            ['Tardanzas',3],
           ['Faltó',2],
           ['Asistió',1],
        ]
    }]
});

</script>





 






<div class="row border m-2 p-1"  style ="width: 100%; height: 690px; overflow-x: scroll; ">
	<div class="col-12">
		<table class="table table-responsive-lg h-100" id="dataTable1" cellspacing="0">
			<thead>
				<tr style="background: #95FFAB;">
					<td>Id</td>
					<td>ASAMBLEA</td>
					<td>USUARIO</td>
					<td>DNI</td>
					<td>ESTADO</td>
					<td>HORA</td>
					<td>BTN</td>
				</tr>
			</thead>
			<tbody  id="cuerpo1">
				{% if lstHAsis %}
					{% for ob in lstHAsis %}
					<tr>
						<td>{{ob.pk}}</td>
						<td>{{ ob.id_asamblea.tipo }}</td>
						<td>{{ ob.id_auth_user.first_name }}</td>
						<td>{{ ob.id_auth_user.dni}}</td>
						<td id="{{ob.pk}}">
							{% if ob.estado == '0' %}
								<span class="badge badge-pill badge-light">ESPERANDO</span>
							{% elif ob.estado == '1' %}
								<span class="badge badge-pill badge-success">ASISTIÓ</span>
							{% elif ob.estado == '2' %}
								<span class="badge badge-pill badge-info">TARDE</span>
							{% elif ob.estado == '3' %}
								<span class="badge badge-pill badge-secondary">FALTÓ</span>
							{% else %}
								<span class="badge badge-pill badge-info">ERR</span>
							{% endif %} 
						</td>
						<td>{{ ob.hora.hour }}:{{ ob.hora.minute }}</td>
						<td>
							<div class="btn-group">
								<button class="btn btn-outline-success" onclick="MrcAsist({{ob.pk}},'Asistio')"><i class="fas fa-check"></i></button>
								<button class="btn btn-outline-info" onclick="MrcAsist({{ob.pk}},'Tarde')"><i class="far fa-clock"></i></button>
								<button class="btn btn-outline-secondary" onclick="MrcAsist({{ob.pk}},'Falto')"><i class="far fa-times-circle"></i></button>
							</div>
						</td>
					</tr>
					{% endfor %}				
				{% else %}
					<h1>NO HAY ASISTENCIAS AÚN</h1>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
<br>

{% endblock tabla %}


{% block graficos %}	
{% endblock graficos %}