{% extends "u_base.html" %}
{% load static %}




{% block cuerpo %}	
<div class="container">
	





<div class="row">

      <!-- Blog Entries Column -->
<div class="col-sm-8 w-100 pb-4" style="height:1000px; overflow-y: scroll;" -webkit-scrollbar="background:green;">

     	






		<h2 class="mt-2"><small style="font-style:italic;">¿dónde está el agua?</small>
		<span class="float-right mt-0"><img src='{% static "img/002-agua.gif" %}' alt="" height="40" class="mt-0"></span></h2>
     
      <!-- Search Widget -->
        <div class="card font-italic" style="color:#556860;">
            <h5 class="mt-1 pl-2" style="background:#E4E5E4;">Están regando..  <br></h5>
            <div class="ml-4 mr-2 h5" id="dvqr">
             <li>Cargando...</li>
           </div>
        </div>

 



   <hr>
    <h2 class="mt-4"><small style="font-style:italic;"> Asambleas</small>
    <span class="float-right mt-0"><img src='{% static "img/006-asamblea.gif" %}' alt="" height="40" class="mt-0"></span></h2>
 
      <!-- Search Widget -->
        <div class="card font-italic" style="color:#556860;">
            <h5 class="mt-1 pl-2" style="background:#E4E5E4;">Asambleas pendientes..  <br></h5>
            <div class="ml-4 mr-2 h5" id="dvasb">
             <li>Cargando...</li>
           </div>
        </div>





 <hr>
    <h2 class="mt-4"> <small style="font-style:italic;">Nivel de agua..</small>
    <span class="float-right mt-0"><img src='{% static "img/005-nivel.gif" %}' alt="" height="40" class="mt-0"></span></h2>


<div class="col-12 container">
  <div id="container" class="border w-100" style="height: 300px" ></div>

<script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'column',
        options3d: {
            enabled: true,
            alpha: 15,
            beta: 15,
            viewDistance: 25,
            depth: 40
        }
    },

    title: {
        text: 'Reporte de nivel de agua <br>{{fecha}}'
    },

    xAxis: {
        categories: [{% for c in caudales %}
                '{{c.fecha.day}}/{{c.fecha.month}}/{{c.fecha.year}}',
            {% endfor %}],
        labels: {
            skew3d: true,
            style: {
                fontSize: '16px'
            }
        }
    },

    yAxis: {
        allowDecimals: false,
        min: 0,
        title: {
            text: 'del  0   al   10',
            skew3d: true
        }
    },

    tooltip: {
        headerFormat: '<b>{point.key}</b><br>',
        pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y} / {point.stackTotal}'
    },

    plotOptions: {
        column: {
            stacking: 'normal',
            depth: 40
        }
    },

    series: [{name: 'Caudal',
        data: [{% for c in caudales %}
                {{c.nivel}},
            {% endfor %}],
        stack: 'male'
    }]
});
</script>
</div>
















<hr>
		<h2 class="mt-4"><small style="font-style:italic;"> ¿qué hay de nuevo?</small>
		<span class="float-right"><img src='{% static "img/001-ojo.gif" %}' alt="" height="40" class="mt-0"></span></h2>



{% if lst_noticias %}
  <div class="container w-100 border" style="heigth:300px;">
    <div id="demo" class="carousel slide" data-ride="carousel">
    
  <!-- INDICADORES  -->
        <ul class="carousel-indicators">
          {% for n in lst_noticias %}
            <li data-target="demo" data-slide-to="{{n.pk}}"  class="{% if n.pk == pk_max %}active{% endif %}"></li>
          {% endfor %}
        </ul>

  <!-- IMAGENES -->
        <div class="carousel-inner">
          {% for n in lst_noticias %}
            <div class="carousel-item {% if n.pk == pk_max %}active{% endif %} carousel-item-left text-center" height="300px">
              <a href="#" data-toggle="modal" data-target="#notmdl{{n.pk}}">
                <img src="/media/{% if n.foto == '' %}no-noticia.png{% else %}{{ n.foto }}{% endif %}" class="img-fluid"><!--img-fluid-->
              </a>
              <div class="carousel-caption">
                <h3><a href="#" data-toggle="modal" data-target="#notmdl{{n.pk}}" class="text-white">{{n.titular}}</a></h3>
                <!--p>descripción de la imgen</p-->
              </div>
            </div>
                        <div class="modal fade" id="notmdl{{n.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{n.titular}} <br> <small>{{n.titulo}}</small></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              {% if n.foto == '' %}
                              {% else %}
                                <div class="modal-body">
                                   <img class="card-img-top" src="/media/{{ n.foto }}" alt="Card image cap" >
                                </div>
                              {% endif %}
                              <div class="modal-footer pt-1 pr-2 pb-0 pl-2">
                                <p class="text-justify font-italic pt-0 pr-0 pb-0 pl-0">{{n.descripcion}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
          {% endfor %}
        </div>

  <!-- CONTROLES DE IZQUIERDA Y DERECHA -->
        <a href="#demo" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a> 
        <a href="#demo" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a> 

      </div>
  </div>
{% endif %}












<hr>
    <h2 class="mt-4"><small style="font-style:italic;"> ¿último reparto?</small>
    <span class="float-right"><img src='{% static "img/007-graf.gif" %}' alt="" height="40" class="mt-0"></span></h2>


<div class="col-12">    
<div id="container1" class="border w-100" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type="text/javascript">

Highcharts.chart('container1', {
    chart: {
        type: 'line'
    },
    title: {
        text: '{{fecha}}'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for c in caudales %}
                '{{c.fecha.day}}/{{c.fecha.month}}/{{c.fecha.year}}',
            {% endfor %}]
    },
    yAxis: {
        title: {
            text: '0 = sin agua, 10 = Canal lleno.'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{name: 'Nivel',
        data: [{% for c in caudales %}
                {{c.nivel}},
            {% endfor %}],
        stack: 'male'
    }]
});
    </script>
  </div>












        <!-- Pagination 
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">← Anterior</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Siguiente →</a>
          </li>
        </ul>-->

      </div>















      <!-- Sidebar Widgets Column -->
      <div class="col-sm-4">

      	<input id="userpk" type="text" value="{{request.user.pk}}" hidden>
      	
      	<!--a href="#" onclick="CargarParcelas()">CargarParcelas()</a>
      	<a href="#" onclick="CargarOrdenes()">CargarOrdenes()</a>
        <a href="#" onclick="CargarMultas()">CargarMultas()</a>
        <a href="#" onclick="CargarPerfil()">CargarPerfil()</a-->
  
     


      	<div class="row">
      		<div class="col-12 text-center font-italic pt-2" style="background: #E4E5E4; color:white;">
      			<h6> <strong> Mi área </strong></h6>
      		</div>
      	</div>


        <!-- Search Widget -->
        <div class="card my-1 border ml-0" style="">
      		<p style="letter-spacing:-0.8em; background: #E4E5E4;" class="mt-2 mb-1"><i class="fas fa-bell fa-fw"></i>
      			<span id="alr_mul" class="badge badge-danger" style="font-size:0.6em; letter-spacing: 0.0em;">+1</span>
      			<i style="letter-spacing:0.3em; color:white;">_</i>
      			<strong style="font-size:1.0em; font-style:italic; letter-spacing:0.0em;">Multas</strong>
      		</p>
      		<div id="div_mul" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
      			<i><i class="fas fa-file-invoice"></i>   cargando..</i>
      		</div>
        </div>
 
        <!-- Search Widget -->
        <div class="card my-3 border ml-0" style="">
    		<p style="background: #E4E5E4;" class="pl-2 mt-2 mb-1"><i class="fas fa-money-check-alt"></i>
    			<strong style="font-size:1.0em; font-style:italic;">Órdenes</strong>
    		</p>
    		<div id="div_ord" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
    			<i><i class="fas fa-money-check-alt"></i> cargando..</i><br>
    		</div> 
        </div>


 
        <!-- Search Widget -->
        <div class="card my-3 border ml-0" style="">
        <p style="background: #E4E5E4;" class="pl-2 mt-2 mb-1"><i class="fas fa-map-marked-alt"></i>
          <strong style="font-size:1.0em; font-style:italic;">Parcelas</strong>
        </p>
        <div id="div_parc" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
          <i><i class="fas fa-map-marked-alt"></i> cargando..</i><br>
        </div>      
        </div>


 
        <!-- Search Widget -->
        <div class="card my-3 border ml-0" style="">
        <p style="background: #E4E5E4;" class="pl-2 mt-2 mb-1"><i class="fas fa-users-cog"></i>
          <strong style="font-size:1.0em; font-style:italic;">Asambleas</strong>
        </p>
        <div id="div_asamb" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
          <i><i class="fas fa-map-marked-alt"></i> cargando..</i><br>
        </div>      
        </div>


        <!-- Search Widget -->
        <div class="card my-3 border ml-0" style="">
          <img src='{% static "img/004-pajaritos.gif" %}' alt="" height="80" class="mt-0">
        </div>


 
        <!-- Search Widget 
        <div class="card my-3 border ml-0" style="">
          <p style="background: #E4E5E4;" class="pl-2 mt-2 mb-1"><i class="far fa-comments"></i>
            <strong style="font-size:1.0em; font-style:italic;">Comentarios</strong>
          </p>
          <div id="div_ord" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
            <i><i class="fas fa-comments"></i> cargando..</i><br>
            <i><i class="fas fa-user-alt"></i> cargando..</i><br>
          </div> 
        </div>-->


        <div class="card my-3 border ml-0" style="">
          <p style="background: #E4E5E4;" class="pl-2 mt-2 mb-1"><i class="fas fa-tree"></i>
            <strong style="font-size:1.0em; font-style:italic;">Comité CrNH</strong>
          </p>
          <div id="div_ord" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
            <i><i class="fas fa-user-alt"></i> <strong>Presidente. </strong> Diomenes Muñoz</i><br>
            <i><i class="fas fa-user-alt"></i> <strong>Canalero. </strong> Saul Cieza</i><br>
            <i><i class="fas fa-user-alt"></i> <strong>Tesorero. </strong> Guisela Muñoz</i><br>
            <i><i class="fas fa-user-alt"></i> <strong>Vocal. </strong> Ludim Arias</i><br>
          </div> 
        </div>



      </div>

    </div>








</div>
{% endblock cuerpo %}
