{% extends "u_base.html" %}
{% load static %}




{% block tabla %}	
{% endblock tabla %}



{% block graficos %}	
{% endblock graficos %}


{% block cuerpo %}	
<div class="container">
	





<div class="row">

      <!-- Blog Entries Column -->
<div class="col-sm-8 w-100" style="height:1000px; overflow-y: scroll;" -webkit-scrollbar="background:green;">

     	<hr>
		<h2 class="my-4">Agua <small style="font-style:italic;"> ¿dónde está?..</small>
		<span class="float-right mt-0"><img src='{% static "img/002-agua.gif" %}' alt="" height="40" class="mt-0"></span></h2>
     

    
      <!-- Search Widget -->
        <div class="card my-4 font-italic" style="color:#556860;">
            <h5 class="mt-1 pl-2" style="background:#E4E5E4;">Están regando..  <br></h5>
            <div class="ml-4 mr-2 h5" id="dvqr">
             <li>Cargando...</li>
           </div>
        </div>

 

    <h2 class="my-2"> <small style="font-style:italic;">Nivel de agua..</small>
  




<div class="row mt-2">
	<div class="col-12 container">

   
<div id="container" class="border w-100" style="height: 300px" ></div>


        <script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'column',
        options3d: {
            enabled: true,
            alpha: 15,
            beta: 15,
            viewDistance: 25,
            depth: 40
        }
    },

    title: {
        text: 'Reporte de nivel de agua <br>{{fecha}}'
    },

    xAxis: {
        categories: [{% for c in caudales %}
                '{{c.fecha.day}}/{{c.fecha.month}}/{{c.fecha.year}}',
            {% endfor %}],
        labels: {
            skew3d: true,
            style: {
                fontSize: '16px'
            }
        }
    },

    yAxis: {
        allowDecimals: false,
        min: 0,
        title: {
            text: 'del  0   al   10',
            skew3d: true
        }
    },

    tooltip: {
        headerFormat: '<b>{point.key}</b><br>',
        pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y} / {point.stackTotal}'
    },

    plotOptions: {
        column: {
            stacking: 'normal',
            depth: 40
        }
    },

    series: [{name: 'Caudal',
        data: [{% for c in caudales %}
                {{c.nivel}},
            {% endfor %}],
        stack: 'male'
    }]
});


        </script>

	</div>
</div>








     	<hr>
		<h2 class="my-4">Noticias <small style="font-style:italic;"> ¿qué hay de nuevo?..</small>
		<span class="float-right mt-0"><img src='{% static "img/001-ojo.gif" %}' alt="" height="40" class="mt-0"></span></h2>
     	
<!--div class="border bg-danger w-100" style="height: 1000px; overflow-x: scroll; display:inline;"-->
  <!--div class="border bg-success" style="height: 800px; overflow-x: scroll; display: inline-block;">

        {% if lst_noticias %}
        	{% for n in lst_noticias %}    -->


		        <!--div class="card mx-3 my-3 border" style="background:rgba(195,195,195,0.27); display: inline-block; width:310px;"-->
            <!--div class="card mx-3 my-3 border" style="background:rgba(195,195,195,0.27); display: inline-block; width:310px;">
		          	<a href="#" style="font-style:italic" data-toggle="modal" data-target="#notmdl{{n.pk}}">
		          		<img class="card-img-top" src="/media/{{ n.foto }}" alt="Card image cap" width="100%" height="auto" >
		          	</a>
		          <div class="mt-1 ml-1 mb-0 text-muted" >
		            <h2 class="card-title" style="line-height:0.7em; ">
                  <i class="far fa-eye animated infinite fadeIn" style="color:#52A1FA"></i>{{n.titular}}
                </h2>
                <h4 class="h4 font-italic ml-0 pl-2" style="background:#F8FFF8;">{{n.titulo}}</h4>
		            <p style="font-style:italic; font-size:1.0em; line-height:0.9em;" class="mb-1">{{n.descripcion}}</p>
		            <span class="float-lefth ml-2 mb-1 badge badge-pill badge-light text-muted font-italic">{{ n.fecha }}</span>
		            <span class="float-right mr-2 mb-1 badge badge-pill badge-light">
		            	<a href="#" style="font-style:italic" data-toggle="modal" data-target="#notmdl{{n.pk}}">leer más..</a>
			            <a href="#" style="font-style:italic; color:#4985FF;" onclick="alert('lo haré despues, no te apures.')">comentar..</a>
			        </span>
		          </div>


                   

                        <div class="modal fade" id="notmdl{{n.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{n.titular}} <br> <small>{{n.titulo}}</small></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                 <img class="card-img-top" src="/media/{{ n.foto }}" alt="Card image cap" >
                              </div>
                              <div class="modal-footer pt-1 pr-2 pb-0 pl-2">
                              	<p class="text-justify font-italic pt-0 pr-0 pb-0 pl-0">{{n.descripcion}}</p>
                              </div>
                            </div>
                          </div>
                        </div>



		        </div>
        	 {% endfor %}
	     {% else %}
        	Err al traer las noticias, contacte al administrador del sistema.
        {% endif %}
		
</div-->






{% if lst_noticias %}
  <div class="w-100" style="height:auto; overflow: auto; white-space: nowrap;  border: solid #7AFC92 3px;  border-radius: 10px; padding-top: 4px;"> 
      {% for n in lst_noticias %}  
          <div class=" mx-1 border" style="heigth:300px; width: 200px;  display: inline-block; ">
            <img src="/media/{{ n.foto }}" style="width: 200px; height:auto;">
            <!--p>{{n.titular}}</p>
            <p class="text-justify" style="background: #DBD9D9;"><small>{{n.titulo}}</small></p>
            <p>{{n.descripcion}}</p-->
              <div class="bg-success border pr-1">
                {{n.descripcion}}
              </div>
          
          </div>
              <!--a class="border" width="80px">

                  <img src="/media/{{ n.foto }}" style="height:200px; width:150px; margin-top: 10px;  ">   
                  <span> cdslvfndjslk</span>       
              </a-->
    {% endfor%}
  </div>
{% endif %}

























<div class="row mt-2 mb-4">
  <div class="col-12">
    
<div id="container1" class="border w-100" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



    <script type="text/javascript">

Highcharts.chart('container1', {
    chart: {
        type: 'line'
    },
    title: {
        text: '{{fecha}}'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for c in caudales %}
                '{{c.fecha.day}}/{{c.fecha.month}}/{{c.fecha.year}}',
            {% endfor %}]
    },
    yAxis: {
        title: {
            text: '0 = sin agua, 10 = Canal lleno.'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{name: 'Nivel',
        data: [{% for c in caudales %}
                {{c.nivel}},
            {% endfor %}],
        stack: 'male'
    }]
});
    </script>
  </div>
</div>












        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">← Anterior</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Siguiente →</a>
          </li>
        </ul>

      </div>















      <!-- Sidebar Widgets Column -->
      <div class="col-sm-4">

      	<input id="userpk" type="text" value="{{request.user.pk}}" hidden>
      	
      	<!--a href="#" onclick="CargarParcelas()">CargarParcelas()</a>
      	<a href="#" onclick="CargarOrdenes()">CargarOrdenes()</a>
        <a href="#" onclick="CargarMultas()">CargarMultas()</a>
        <a href="#" onclick="CargarPerfil()">CargarPerfil()</a-->
  
     


      	<div class="row">
      		<div class="col-12 text-center font-italic pt-2" style="background: #E4E5E4; color:white;">
      			<h6> <strong> Mi área </strong></h6>
      		</div>
      	</div>


        <!-- Search Widget -->
        <div class="card my-1 border ml-0" style="">
      		<p style="letter-spacing:-0.8em; background: #E4E5E4;" class="mt-2 mb-1"><i class="fas fa-bell fa-fw"></i>
      			<span id="alr_mul" class="badge badge-danger" style="font-size:0.6em; letter-spacing: 0.0em;">+1</span>
      			<i style="letter-spacing:0.3em; color:white;">_</i>
      			<strong style="font-size:1.0em; font-style:italic; letter-spacing:0.0em;">Multas</strong>
      		</p>
      		<div id="div_mul" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
      			<i><i class="fas fa-file-invoice"></i>   cargando..</i>
      		</div>
        </div>
 
        <!-- Search Widget -->
        <div class="card my-3 border ml-0" style="">
    		<p style="background: #E4E5E4;" class="pl-2 mt-2 mb-1"><i class="fas fa-money-check-alt"></i>
    			<strong style="font-size:1.0em; font-style:italic;">Órdenes</strong>
    		</p>
    		<div id="div_ord" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
    			<i><i class="fas fa-money-check-alt"></i> cargando..</i><br>
    		</div> 
        </div>


 
        <!-- Search Widget -->
        <div class="card my-3 border ml-0" style="">
        <p style="background: #E4E5E4;" class="pl-2 mt-2 mb-1"><i class="fas fa-map-marked-alt"></i>
          <strong style="font-size:1.0em; font-style:italic;">Parcelas</strong>
        </p>
        <div id="div_parc" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
          <i><i class="fas fa-map-marked-alt"></i> cargando..</i><br>
        </div>      
        </div>


 
        <!-- Search Widget -->
        <div class="card my-3 border ml-0" style="">
        <p style="background: #E4E5E4;" class="pl-2 mt-2 mb-1"><i class="fas fa-map-marked-alt"></i>
          <strong style="font-size:1.0em; font-style:italic;">Reuniónes</strong>
        </p>
        <div id="div_parc" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
          <i><i class="fas fa-map-marked-alt"></i> cargando..</i><br>
        </div>      
        </div>


        <!-- Search Widget -->
        <div class="card my-3 border ml-0" style="">
          <img src='{% static "img/004-pajaritos.gif" %}' alt="" height="80" class="mt-0">
        </div>


 
        <!-- Search Widget -->
        <div class="card my-3 border ml-0" style="">
          <p style="background: #E4E5E4;" class="pl-2 mt-2 mb-1"><i class="far fa-comments"></i>
            <strong style="font-size:1.0em; font-style:italic;">Comentarios</strong>
          </p>
          <div id="div_ord" style="line-height:1.4em; font-style:italic; color:#849686; font-size:0.9em;" class="pl-2">
            <i><i class="fas fa-comments"></i> cargando..</i><br>
            <i><i class="fas fa-user-alt"></i> cargando..</i><br>
          </div> 
        </div>



      </div>

    </div>








</div>
{% endblock cuerpo %}
