{% load static %} 
<!DOCTYPE html>
<html lang="es">
 
  <head> 

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block txt_titulo %} crNH {% endblock txt_titulo %}</title>


    <!-- Bootstrap core CSS-->
    {% block css %}

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"><!-- Custom fonts for this template-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet"><!-- Page level plugin CSS-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet"><!-- Custom styles for this template-->
    <link rel="icon" href="{% static 'img/icocrnh.ico' %}">

<!-- ANIMACIÓN -->
<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    {% endblock css %}



    {% block jquery %}<!-- CHART JS--> 
  <script src="{% static 'code/highcharts.js' %}"></script>
  <script src="{% static 'code/modules/series-label.js' %}"></script><!--#--> 
  <script src="{% static 'code/modules/exporting.js' %}"></script>
  <script src="{% static 'code/modules/export-data.js' %}"></script>  
    {% endblock jquery %}
    
  </head>  

  <body id="page-top">

    <nav class="navbar navbar-expand  static-top" style="background: #317631">

      <a class="navbar-brand mr-1 text-white"> {% block txt_cabecera %} TESORERO {% endblock txt_cabecera %} </a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
         <h4 class="h5 text-white">{{ request.user.get_full_name }}</h4>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            {% block card_login %}
              
            
            <div class="card" style="height: 310px; width: 200px; margin: 3px;">
                <div>
                  <p><strong>TESORERO ({{ request.user }})</strong></p>
                </div>
                <img src="{% static 'img/perfil.png' %}" class="w-100 img-thumbnail" style="height: 150px; width: 150px;">

                <div class="card-body">
                  <h5 class="h5">{{ request.user.get_full_name }}</h5>
                      <div class="btn-group btn-block">
                        <a href="{% url 'mylogin' %}" class="btn btn-success form-control"><i class="fas fa-lock-open"></i></a>
                        <a href="{% url 'logout' %}" class="btn btn-danger form-control"><i class="fas fa-lock"></i></a>                          
                      </div>  
                </div>
            </div>
            {% endblock card_login %}
          </div>
        </li>
      </ul>

    </nav>







      <!-- Sidebar -->
    <div id="wrapper">
      <ul class="sidebar navbar-nav text-black" style="background: #4B8549;">

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'tesorero' %}">
            <div class="border w-100 m-1" style="height:130px; border-radius: 5px;">
              <img src="{% static 'img/logo1.png' %}" class="w-100 h-100 img-thumbnail">
            </div>
          </a>
        </li>

        
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>INICIO</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{% url 'usuario' %}"><i class="fas fa-user"></i></i> Usuario</a>
            <a class="dropdown-item" href="{% url 'presidente' %}"><i class="fas fa-user-graduate"></i> Presidente</a>
            <a class="dropdown-item" href="{% url 'canalero' %}"><i class="fas fa-user-tie"></i> Canalero</a>
            <a class="dropdown-item" href="{% url 'tesorero' %}"><i class="fas fa-funnel-dollar"></i> Tesorero</a>
            <a class="dropdown-item" href="{% url 'vocal' %}"><i class="fas fa-user-edit"></i> Vocal</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fas fa-clipboard-list"></i>
            <span>ASAMBLEA</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="#"><i class="fas fa-list-ol"></i> LISTAR</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-map-marked-alt"></i>
            <span>REPARTO</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{% url 't_lst_repartos' %}"><i class="fas fa-list-ol"></i> LISTAR</a>
          </div>
        </li>
      


  {% block limpia_menu %} 
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-broom"></i>
            <span>LIMPIEZA</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{% url 't_lst_lmps' %}"><i class="fas fa-list-ol"></i>  LISTAR</a>
          </div>
        </li>
  {% endblock limpia_menu %} 

      </ul>
   




     
 <div id="content-wrapper"> <!-- /.content-wrapper **************-->

          
<div class="container-fluid m-2">



{% block noticias %}
  <ol class="breadcrumb"><!-- Breadcrumbs-->
    <li class="breadcrumb-item">
    <h5 class="text text-primary">Tesorero</h5>
    </li>
    <li class="breadcrumb-item active">{{ user.get_full_name}}</li>
  </ol>
  <h1> {% block txt_not1 %}Panel de Control de Tesorero{% endblock txt_not1 %} </h1><!-- Page Content -->
  {% block p_msj %}
    <p class="font-italic mb-0" style="font-size: 0.8em">“Tienes que aprender las reglas del juego y después jugar mejor que nadie” - Albert Einstein</p>
  {% endblock p_msj %}
  
  <hr class="mt-0">
{% endblock noticias %}


{% block cuerpo %}


{% block noticias1 %}
   <div class="row">


            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-list-ol"></i>
                  </div>
                  <div class="mr-5">MULTA DE ASISTENCIA</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 't_asmb' %}">
                  <span class="float-left">Registrar..</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-ticket-alt"></i>
                  </div>
                  <div class="mr-5">PAGO DE REPARTO</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 't_lst_repartos' %}">
                  <span class="float-left">Registrar..</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>


            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                     <i class="fas fa-money-bill"></i>
                  </div>
                  <div class="mr-5">MULTA DE ORDEN</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                  <span class="float-left">Registrar..</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>



            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-broom"></i>
                  </div>
                  <div class="mr-5">MULTA DE LIMPIEZA</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 't_lst_lmps' %}">
                  <span class="float-left">Registrar..</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>

      </div>

{% endblock noticias1 %}



{% block tabla %}
        block tabla
{% endblock tabla %}






{% block graficos %}
  block graficos
{% endblock graficos %}



</div>   
{% endblock cuerpo %}
</div><!-- /.container-fluid -->

      <!-- /.content-wrapper************************************************************************* -->



        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Cotrina Lezama © Proyecto de tesis 2018</span>
            </div>
          </div>
        </footer>

  

    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    
    {% block js %} 

    <!-- Mis sccripts-->



  <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script><!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script><!-- Page level plugin JavaScript-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script><!-- Custom scripts for all pages-->
 
  <!-- Demo scripts for this page-->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

  <!--  JS -->  
    <script src="{% static 'js/tesorero.js' %}"></script>    
    <script src="{% static 'js/tableToExcel.js' %}"></script>

    {% endblock js %}

    

  </body>

</html>
 