{% load static %} 

<!DOCTYPE html>
<html lang="es">
 
  <head> 

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block txt_titulo %} crNH {% endblock txt_titulo %}</title>


    <!-- Bootstrap core CSS-->
    {% block css %}

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"><!-- Custom fonts for this template-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet"><!-- Page level plugin CSS-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet"><!-- Custom styles for this template-->
    <link rel="icon" href="{% static 'img/icocrnh.ico' %}">

<!-- ANIMACIÓN -->
<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    {% endblock css %}



    {% block jquery %}<!-- CHART JS--> 
  <script src="{% static 'code/highcharts.js' %}"></script>
  <script src="{% static 'code/modules/series-label.js' %}"></script><!--#--> 
  <script src="{% static 'code/modules/exporting.js' %}"></script>
  <script src="{% static 'code/modules/export-data.js' %}"></script>  
    {% endblock jquery %}
    
  </head>  

  <body id="page-top">

    <nav class="navbar navbar-expand  static-top" style="background: #317631">

      <a class="navbar-brand mr-1 text-white"> {% block txt_cabecera %} VOCAL {% endblock txt_cabecera %} </a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
         <h4 class="h5 text-white">{{ request.user.get_full_name }}</h4>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            {% block card_login %}
              
            
            <div class="card" style="height: 310px; width: 200px; margin: 3px;">
                <div>
                  <p><strong>VOCAL ({{ request.user }})</strong></p>
                </div>
                <img src="{% static 'img/perfil.png' %}" class="w-100 img-thumbnail" style="height: 150px; width: 150px;">

                <div class="card-body">
                  <h5 class="h5">{{ request.user.get_full_name }}</h5>
                      <div class="btn-group btn-block">
                        <a href="{% url 'mylogin' %}" class="btn btn-success form-control"><i class="fas fa-lock-open"></i></a>
                        <a href="{% url 'logout' %}" class="btn btn-danger form-control"><i class="fas fa-lock"></i></a>                          
                      </div>  
                </div>
            </div>
            {% endblock card_login %}
          </div>
        </li>
      </ul>

    </nav>







      <!-- Sidebar -->
    <div id="wrapper">
      <ul class="sidebar navbar-nav text-black" style="background: #4B8549;">

        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'vocal' %}">
            <div class="border w-100 m-1" style="height:130px; border-radius: 5px;">
              <img src="{% static 'img/logo1.png' %}" class="w-100 h-100 img-thumbnail">
            </div>
          </a>
        </li>

         
        {% block inicio_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>INICIO</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{% url 'usuario' %}"><i class="fas fa-user"></i></i> Usuario</a>
            <a class="dropdown-item" href="{% url 'canalero' %}"><i class="fas fa-user-tie"></i> Canalero</a>
            <a class="dropdown-item" href="{% url 'presidente' %}"><i class="fas fa-user-graduate"></i> Presidente</a>
            <a class="dropdown-item" href="{% url 'vocal' %}"><i class="fas fa-user-edit"></i> Vocal</a>
          </div>
        </li>
        {% endblock inicio_menu %}

        {% block usuario_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fas fa-user-edit"></i>
            <span>USUARIOS</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">            
            <!--a class="dropdown-item" href="{% url 'RegistrarUsuario' %}">Registrar User</a-->
            <a class="dropdown-item" href="{% url 'p_usuario1_reg' %}"><i class="fas fa-plus"></i> REGISTRAR</a>
            <a class="dropdown-item" href="{% url 'p_usuario_reg' %}"><i class="fas fa-plus"></i> DATOS</a>
            <!--a class="dropdown-item" href="{% url 'p_usuario_lis' %}">Listar Datos</a-->
            <a class="dropdown-item" href="{% url 'p_auth_lis' %}"><i class="fas fa-list-ol"></i> LISTAR</a>
            <a class="dropdown-item" href="{% url 'p_act_usu' %}"><i class="fas fa-key"></i> CONTRASEÑA</a>
          </div>
        </li>
        {% endblock usuario_menu %}

        {% block asamblea_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fas fa-clipboard-list"></i>
            <span>ASAMBLEA</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">            
            <a class="dropdown-item" href="{% url 'p_asamb_reg' %}"><i class="fas fa-plus"></i> REGISTRAR</a>
            <a class="dropdown-item" href="{% url 'p_asamb_lis' %}"><i class="fas fa-list-ol"></i> LISTAR</a>
          </div>
        </li>
        {% endblock asamblea_menu %}

        {% block noticia_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-newspaper"></i>
            <span>NOTICIA</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{% url 'p_noticia_reg' %}"><i class="fas fa-plus"></i>  REGISTRAR</a>
            <a class="dropdown-item" href="{% url 'p_noticia_lis' %}"><i class="fas fa-list-ol"></i> LISTAR</a>
          </div>
        </li>
        {% endblock noticia_menu %}

        {% block parcela_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-map-marked-alt"></i>
            <span>PARCELA</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{% url 'p_parcela_reg' %}"><i class="fas fa-plus"></i>  REGISTRAR</a>
            <a class="dropdown-item" href="{% url 'p_parcela_lis' %}"><i class="fas fa-list-ol"></i> LISTAR</a>
          </div>
        </li>
        {% endblock parcela_menu %}
      
        {% block canal_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-code-branch"></i>
            <span>CANAL</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{% url 'p_canal_reg' %}">Registrar</a>
            <a class="dropdown-item" href="{% url 'p_canal_lis' %}">Listar</a>
            <a class="dropdown-item" href="{% url 'p_caudal_reg' %}">Registrar Caudal</a>
            <a class="dropdown-item" href="{% url 'p_caudal_lis' %}">Lista Caudal</a>
          </div>
        </li>
        {% endblock canal_menu %}

        {% block graficos_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>REP. GRÁFICOS</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{% url 'p_rep_caudal' %}">Caudal</a>
            <a class="dropdown-item" href="{% url 'p_rep_caudal2' %}">Caudal 2</a>
            <a class="dropdown-item" href="{% url 'p_rep_reparto' %}">Reparto</a>
          </div>
        </li>
        {% endblock graficos_menu %}

        {% block reportes_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-file-pdf"></i>
            <span> REP. PDF</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="#">Pdf 1</a>
            <a class="dropdown-item" href="#">Pdf 2</a>
          </div>
        </li>
        {% endblock reportes_menu %}
      </ul>
   




      <div id="content-wrapper"> <!-- /.content-wrapper **************-->
        {% block cuerpo %}
          
       
         
            
            <div class="container-fluid m-2">
              {% block noticias %}
              <ol class="breadcrumb"><!-- Breadcrumbs-->
                  <li class="breadcrumb-item">
                    <h5 class="text text-primary">VOCAL</h5>
                  </li>
                  <li class="breadcrumb-item active">{{ user.get_full_name}}</li>
                </ol>
                <h1> {% block txt_not1 %}Panel de Control del Vocal  {% endblock txt_not1 %} </h1><!-- Page Content -->
                <hr>
                <p class="font-italic" style="font-size: 0.8em">“Un líder es un repartidor de esperanza” - Napoleón Bonaparte, conquistador francés</p>

            {% endblock noticias %}



{% block noticias1 %}

         <div class="row">


            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-user-edit"></i>
                  </div>
                  <div class="mr-5">USUARIO..</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'p_usuario_lis' %}">
                  <span class="float-left">Ver usuarios..</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-map-marked-alt"></i>
                  </div>
                  <div class="mr-5">PARCELA</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'p_parcela_lis' %}">
                  <span class="float-left">Ver parcelas..</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>

          <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                     <i class="fas fa-code-branch"></i>
                  </div>
                  <div class="mr-5">CANAL..</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'p_canal_lis' %}">
                  <span class="float-left">Ver canales..</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-secondary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                     <i class="fas fa-newspaper"></i>
                  </div>
                  <div class="mr-5">NOTICIA</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="p_noticia_lis">
                  <span class="float-left">Ver noticias..</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>




          </div>








         
         {% endblock noticias1 %}









         {% block tabla %}

            <div class="card mb-3">
              <div class="card-header"> {% block titulo_tabla %} listado {% endblock titulo_tabla %}</div>

                <div class="row p-1">


                   <div class="col-5"></div>

                  <div class="col-2">
                    {% if page_obj.has_previous %}
                      <ul class="pagination pagination-sm" >
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; primera</a></li>
                      </ul> 
                    {% endif %}
                  </div>
                
                    <div class="col-3">
                      <ul class="pagination pagination-sm" >
                        {% if page_obj.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; previo</a></li>
                        {% endif %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
                        {% if page_obj.has_next %}
                          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">siguiente &raquo;</a></li>  
                        {% endif %} 
                      </ul>
                    </div>

                    <div class="col-2">
                      {% if page_obj.has_next %}
                        <ul class="pagination pagination-sm" >
                          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a></li>
                        </ul> 
                      {% endif %}
                    </div>
                    

                </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                   <tr style="background: #B3EBAC">

                    {% block td1_tabla %}       
                      <td>NOMBRES</td>
                      <td>TAMAÑO</td>
                      <td>UBICACIÓN</td>
                      <td>ACCIONES</td>
                    {% endblock td1_tabla %}

                  </tr>
                </thead>
                <tfoot>
                  <tr style="background: #B3EBAC">
                     {% block td2_tabla %}       
                      <td>NOMBRES</td>
                      <td>TAMAÑO</td>
                      <td>UBICACIÓN</td>
                      <td>ACCIONES</td>
                    {% endblock td2_tabla %}
                  </tr>
                </tfoot>
              <tbody id="cuerpo">
                {% block body_tabla %}

                 <tr>
                    <td>NOMBRES</td><td>TAMAÑO</td><td>UBICACIÓN</td><td>ACCIONES</td>
                  </tr>
                  <tr>
                    <td>NOMBRES</td><td>TAMAÑO</td><td>UBICACIÓN</td><td>ACCIONES</td>
                  </tr>

                {% endblock body_tabla %}
                    
                  </tbody>
                </table>
              </div>
              <div class="row">

                  <div class="col-5"> <a class="btn btn-outline-success form-control" href="{% block btn_nuevo %} #                   
                  {% endblock btn_nuevo %} ">+ <i class="fas fa-pen"></i> NUEVO</a></div>

                      <div class="col-2">
                        {% if page_obj.has_previous %}
                          <ul class="pagination pagination-sm" >
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo; primera</a></li>
                          </ul> 
                        {% endif %}
                      </div>
                      

                      <div class="col-3">
                        <ul class="pagination pagination-sm" >
                          {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; previo</a></li>
                          {% endif %}
                          <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
                          {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">siguiente &raquo;</a></li>  
                          {% endif %} 
                        </ul>
                      </div>

                      <div class="col-2">
                        {% if page_obj.has_next %}
                          <ul class="pagination pagination-sm" >
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a></li>
                          </ul> 
                        {% endif %}
                      </div>
                  </div>
                  
            </div>
            <div class="card-footer small text-muted">__*</div>
          </div>
          {% endblock tabla %}






{% block graficos %}


<div class="row">
    <div class="col-lg-8">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-bar"></i>
          Bar Chart Example</div>
        <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <canvas id="myBarChart" width="933" height="466" class="chartjs-render-monitor" style="display: block; height: 373px; width: 747px;"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-pie"></i>
          Pie Chart Example</div>
        <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <canvas id="myPieChart" width="422" height="422" class="chartjs-render-monitor" style="display: block; height: 338px; width: 338px;"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
  </div>







<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    Area Chart Example</div>
  <div class="card-body">
    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <canvas id="myAreaChart" width="1446" height="433" class="chartjs-render-monitor" style="display: block; height: 347px; width: 1157px;"></canvas>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

  
{% endblock graficos %}
            </div><!-- /.container-fluid -->
         

      {% endblock cuerpo %}
    </div>
      <!-- /.content-wrapper************************************************************************* -->



        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Cotrina Lezama © Proyecto de tesis 2018</span>
            </div>
          </div>
        </footer>

  

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    
    {% block js %} 

    <!-- Mis sccripts-->



  <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script><!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script><!-- Page level plugin JavaScript-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script><!-- Custom scripts for all pages-->
 
  <!-- Demo scripts for this page-->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

  <!--  JS -->
    <script src="{% static 'js/vocal.js' %}"></script>

    {% endblock js %}

    

  </body>

</html>
 