{% extends "c_base.html" %}

{% block txt_cabecera %}
	REGISTRAR DESTAJO
{% endblock txt_cabecera %}


{% block noticias %}
{% endblock noticias %}


{% block noticias1 %}
<div class="row">
		<div class="container border">

			<form method="post">
				{% csrf_token %}
				{{form.as_p}}
				<button type="submit" class="btn btn-primary">GUARDAR</button><br><br><br><br>
			</form>


		</div>
	</div>
{% endblock noticias1 %}


{% block tabla %}
	
{% endblock tabla %}



{% block graficos %}
	
{% endblock graficos %}