{% extends "p_base.html" %}

{% block txt_cabecera %}
	BORRAR REGISTRO DE CAUDAL
{% endblock txt_cabecera %}



{% block noticias %}
	<div class="container border">
		<br>
		<form method="post">
			{% csrf_token %}
			<h2>¿Seguro que desea borrar el registro de Caudal: "{{ object.id_canal }} con nivel {{ object.nivel}}" ?</h2>
			<a href="{% url 'p_caudal_lis' %}" class="btn btn-success">Cancelar</a>
			<button class="btn  btn-danger" type="submit">Sí, eliminar</button>		
		</form><br>
	</div>
{% endblock noticias %}


{% block noticias1 %}
{% endblock noticias1 %}



{% block tabla %}
	
{% endblock tabla %}



{% block graficos %}
	
{% endblock graficos %}