 {% extends "u_base.html" %}


{% block cuerpo %}

<div class="container">
	<div class="row">
		<div class="col-12 my-2 text-center">
			<h2>Mis parcelas</h2>
		</div>


		<div class="col-12 my-2">


		{% if object_list %}
				<table class="table table-sm table-striped text-center" id="dataTable">
			      <thead>
			      	<tr style="background:#2DA544; color:white; font-weight: bold;">
			          	<td>NOMBRE</td>
						<td>TOMA</td>
						<TD>Has sembradas</TD>
						<td>Has total</td>
						<td>Estado</td>
			        </tr>
			      </thead>
			      <tbody>
			        {% for ob in object_list %}
			          	<tr style="font-style:italic; font-size:1.0em;">
			          		<td data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">({{ ob.id_parcela }}) {{ ob.nombre }}
							<div class="dropdown-menu w-100 border p-1 bg-warning">
								<div class="row">
									<div class="col-3">
										<label>Ubicación: {{ ob.ubicacion }}</label>
									</div>
									<div class="col-2">
										<label>Decrioción: {{ ob.descripcion  }}</label>
									</div>
									<div class="col-2">
										<label>Dueño: {{ ob.id_auth_user }}</label>
									</div>
								</div>
							</div></td>					
							<td>{{ ob.num_toma }}</td>
							<td>{{ ob.has_sembradas }}</td>
							<td>{{ ob.total_has }}</td>
							<td>{% if ob.estado == "1" %}Habilitada{% else %}{{ ob.estado }}{% endif %}</td>
						</tr>
				{% endfor %}
				</tbody>
			</table>				
			{% else %}
				<h1>NO TIENE PARCELAS REGISTRADAS</h1>
			{% endif %}
			
		</div>
	</div>
</div>


{% endblock cuerpo %}
