{% extends "p_base.html" %}

{% block noticias %}


	

{% endblock noticias %}


{% block noticias1 %}

{% if mensaje %}
  
<div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: block; padding-right: 16px;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="mySmallModalLabel">{{mensaje}}</h4>
          
      </div>
        <div class="modal-body btn-group">
          <a  class="btn btn-success" href="{% url 'presidente' %}">Salir</a>
          <a  class="btn btn-info" href="{% url 'p_caudal_lis' %}">Listar</a>
      </div>
      </div>
    </div>
 </div>

{% elif canales %}


	<div class="card card-login mx-auto mt-5">
      <div class="card-header">
          <h5 class="text font-italic text-primary">REGISTRAR CAUDAL</h5>
      </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
          
            <div class="form-group">     
              <div class="btn-group btn-block">   
                <div class="col border form-control">
                    <span class="float-left text-danger"><i class="fas fa-arrow-left"></i> Sin agua</span>
                    <span class="float-right text-success">Canal lleno <i class="fas fa-arrow-right"></i></span>
                </div>
              </div> 
            </div>

            <div class="btn-group btn-block mb-2">
              <input id="FechaReparto" type="date" name="fecha" class=" form-control date" required="required">
              <a href="#" onclick="Ahora()" class="btn btn-info"><i class="far fa-clock"></i></a>
            </div>

         
             <div class="form-group row border">     
              <div class="btn-group btn-block">   
                <div class=" btn form-control text-left col-4" required="required">Volmumen gneral</div>
                <div class="col-8"><input type="range" step="1"  min="0" max="10" class="form-control" name="volumen" required="required"></div>
              </div> 
            </div>

         
             <div class="form-group row border">     
              <div class="btn-group btn-block">   
                <div class=" btn form-control text-left col-4" required="required">Descripción:</div>
                <div class="col-8"><textarea class="form-control" name="descripcion" required="required" style="border:none; font-style:italic;">Nivel actual.</textarea></div>
              </div> 
            </div>



              

           
            <button type="submit" class="btn btn-success btn-block" >Registrar Caudal</button>
          </form>
        </div>

      <div class="card-footer">
         <h6  class="text font-italic text-secondary">Por: {{user.get_full_name}}</h6>
      </div>

      </div>


  <script>
    window.onload = function() {
      document.getElementById('FechaReparto').valueAsDate = new Date();
    }

    function Ahora(){
      //alert("aaa");
      document.getElementById('FechaReparto').valueAsDate = new Date();
    }
  </script>

 {% endif %}


{% endblock noticias1 %}


{% block tabla %}	
{% endblock tabla %}



{% block graficos %}	
{% endblock graficos %}