{% extends "c_base.html" %}





{% block cuerpo %}

<div class="container mx-2 my-3 border">

<div class="row">
	


{% if object_list %}
	

	<div class="col-12 my-3 text-center">
		<h3 style="font-size:2.5em; color: #6FB26C; font-weight: bold;">Listado de Limpiezas</h3>
	</div>



	<table class="table table-responsive-sm table-striped text-center" id="dataTable">
	      <thead>
	       <tr style="background:#2DA544; color:white; font-weight: bold;">
	          <td>ID</td>
				<td>DESCRIPCIÓN</td>
				<td>TIPO</td>
				<td>SE REGISTRÓ</td>
				<td>COMIENZA</td>
				<td>FINALIZA</td>
				<td>ESTADO</td>
				<td><i class="fas fa-box-open"></i></td>
	        </tr>
	      </thead>
	      <tbody>

		{% for ob in object_list %}

		<tr style="font-style:italic; font-size:0.9em;">
			<td>{{ob.id_limpieza}}</td>
			<td style="font-size:0.8em"> {{ ob.decripcion }}</td>
			<td><span class="badge badge-pill badge-secondary">
				{% if ob.tipo == '0' %} GENEAL {% elif ob.tipo == '1' %} DEFAGINE MATRIZ
				{% elif ob.tipo == '2' %} DESFAGINE RAMALES
				{% elif ob.tipo == '3' %} RAMALES
				{% endif %}</span>
			</td>
			<td>{{ ob.fecha_registro.day }}/{{ ob.fecha_registro.month }}/{{ ob.fecha_registro.year }}</td>
			<td>{{ ob.fecha_limpieza.day }}/{{ ob.fecha_limpieza.month }}/{{ ob.fecha_limpieza.year }}</td>
			<td>{{ ob.fecha_revision.day }}/{{ ob.fecha_revision.month }}/{{ ob.fecha_revision.year }}   {{ ob.hora_revision }}</td>
			<td> 
				{% if  ob.estado == '0' %}
					<span class="badge badge-pill badge-info">REGISTRADA</span>
				{% elif  ob.estado == '1' %}
					<span class="badge badge-pill badge-success">EN PROCESO</span>
				{% elif  ob.estado == '2' %}
					<span class="badge badge-pill badge-secondary">CERRADA</span>
				{% else %}
					Err
				{% endif %}
			</td>
			<td>
				<div class="btn-group btn-sm text-center">
					<a class="btn btn-sm btn-outline-warning" href="{% url 'c_limpia_edi' ob.id_limpieza %}" title="Editar">
						<i class="far fa-edit"></i></a>

				{% if ob.estado != '0' %}	
					<a class="btn btn-sm btn-outline-success" href="{% url 'c_limp_rev' ob.id_limpieza %}" title="Revisar">
						<i class="fas fa-check-double"></i></a>
					<a class="btn btn-sm btn-outline-secondary" href="{% url 'c_limp_pie' ob.id_limpieza %}" title="Reporte gráfico">
						<i class="fas fa-chart-pie"></i></a>
					<a class="btn btn-sm btn-outline-secondary" href="{% url 'c_limp_pdf' ob.id_limpieza %}" title="Reporte pdf">
						<i class="fas fa-file-pdf"></i></a>
				{% endif %}					
					<a class="btn btn-sm btn-outline-danger" href="{% url 'c_limpia_eli' ob.id_limpieza %}" title="Eliminar">
						<i class="far fa-trash-alt"></i></a>
				</div>
			</td>
		</tr>

		{% endfor %}				
	{% else %}
		<h1>NO HAY LIMPIEZAS REGISTRADAS</h1>
	{% endif %}

</div>

</div>
{% endblock cuerpo %}
