{% extends "c_base.html" %}






{% block cuerpo %} 



    <div id="container" style="min-width: 310px; width: 100%; height: 100%; margin: 0 auto"></div>





<script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: "Reporte de limpieza: <strong> {% if lmp.tipo == '0'  %}GENERAL{% elif lmp.tipo == '1'  %}MATRIZ{% else %}RAMALES{% endif %}</strong>"
    },
    subtitle: {
        text: '{{lmp.decripcion}}'
    },
    xAxis: {
        categories: null,
        title: {
            text: '{{ lmp.fecha_limpieza }}'
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: '{{ hr }}',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: null
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#B1FFD2'),
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [
         {name:'Destajos Mal Hechos',data:[{{dm}}]},{name:'Destajos No Hechos',data:[{{dn}}]},
         {name:'Destajos Bien Hechos',data:[{{db}}]},{name:'Faltan revisar',data:[{{df}}]}
        ]
});
        </script>


	





{% endblock cuerpo %}