{% extends "u_base.html" %}


{% block txt_cabecera %}
	REPARTO
{% endblock txt_cabecera %}


{% block txt_ol %}
		<strong>REAPARTOS DISPONIBLES </strong> 
{% endblock txt_ol %}

{% block txt_bienv %}	
{% endblock txt_bienv %}





{% block noticias1 %}

	<div class="row">

		{% csrf_token %}

		{% if object_list %}
			{% for ob in object_list %}





			            <div class="col-xl-3 col-sm-6 mb-3">
			              <div class="card text-white 
			              		{% if ob.tipo == 'Para Chayas' %} bg-warning 
			              		{% else %} bg-success {% endif %}  o-hidden h-100">
			                <div class="card-body">
			                  <div class="card-body-icon">
			                    <i class="fas fa-fw fa-list"></i>
			                  </div>
			                  <div class="mr-5"> 
			                  	<span class="badge badge-light" style="font-size: 0.5em;">{{ob.id_reparto}}</span>
			                  	{{ob.tipo}} <br>
			                  {{ob.fecha_reparto.day}}/{{ob.fecha_reparto.month}}/{{ob.fecha_reparto.year}} ; 
			              			{{ob.hora_reparto}}</div>
			                </div>
			                <a class="card-footer text-white clearfix small z-1" href="{% url 'u_orden_sol' %}?id_repa={{ob.id_reparto}}&&id_auth={{user.id}}">
			                  <span class="float-left">Solicitar orden..</span>
			                  <span class="float-right">
			                    <i class="fas fa-angle-right"></i>
			                  </span>
			                </a>
			              </div>
			            </div>




	          {% endfor %}				
		{% else %}
			<h1>NO HAY REPARTOS PENDIENTES AÚN</h1>
		{% endif %}



    </div>



{% endblock noticias1 %}
 





{% block tabla %}
{% endblock tabla %}




{% block graficos %}	
{% endblock graficos %}