{% extends "c_base.html" %}






{% block cuerpo %}

<div class="container my-4 mx-3">
	<div class="row mr-2">

	


	<div class="col-12 my-3 text-center">
		<h3 style="font-size:2.5em; color: #6FB26C; font-weight: bold;">Listado de repartos</h3>
	</div>



<div class="col-12 form-inline text-center">
		<div class="col-12 col-sm-6 col-lg-4 ">
			<p class="alert alert-sm alert-info"><strong>REPARTO PENDIENTE</strong></p>
		</div>
		<div class="col-12 col-sm-6 col-lg-4">
			<p class="alert alert-sm alert-success"><strong>ABIERTO</strong></p>
		</div>
		<div class="col-12 col-lg-4 ">
			<p class="alert alert-sm alert-secondary"><strong>YA PASÓ</strong></p>
		</div>
</div>





<div class="col-12 my-3">
	<div class="row container">
		<div class="col-12 form-inline"  style="height:auto;">
	
		{% csrf_token %}

		{% if object_list %}
			{% for ob in object_list %}



			            <div class="col-xl-3 col-sm-6 mb-3">
			              <div class="card {% if ob.estado == '1' %}
			              						text-white bg-primary 
			              					{% elif ob.estado == '2' %}
			              						text-white bg-success
			              					{% elif ob.estado == '3' %}
			              						text-white bg-secondary
			              					{% else %}
			              						text-primary bg-ligth
			              					{% endif %}
			              					o-hidden h-100">
			                <div class="card-body">
			                  <div class="card-body-icon">
			                    <i class="fas fa-fw fa-list"></i>
			                  </div>
			                  <div class="mr-5">{{ob.tipo}} <br>
			                  {{ob.fecha_reparto.day}}/{{ob.fecha_reparto.month}}/{{ob.fecha_reparto.year}} ; {{ob.hora_reparto}}</div>
			                </div>
			                <a class="card-footer text-white clearfix small z-1" href="{% url 'c_reparto_lis_ord' %}?id_repa={{ob.id_reparto}}">
			                  <span class="float-left">Ver ordenes del reparto..</span>
			                  <span class="float-right">
			                    <i class="fas fa-angle-right"></i>
			                  </span>
			                </a>
			              </div>
			            </div>


	          {% endfor %}				
		{% else %}
			<h1>Error en el servidor</h1>
		{% endif %}

		</div>
	</div>
</div>



<hr>


		<div class="col-12 ">
			<span class="float-right form-inline">
			 	{% if page_obj.has_previous %}
			      <ul class="pagination pagination-sm" >
			        <li class="page-item"><a class="page-link" href="?page=1">&laquo; primera</a></li>
			      </ul> 
			    {% endif %}

			      <ul class="pagination pagination-sm mx-1" >
			        {% if page_obj.has_previous %}
			          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; previo</a></li>
			        {% endif %}
			        <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
			        {% if page_obj.has_next %}
			          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">siguiente &raquo;</a></li>  
			        {% endif %} 
			      </ul>

			      {% if page_obj.has_next %}
			        <ul class="pagination pagination-sm" >
			          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a></li>
			        </ul> 
			      {% endif %}
			 </span>

			{% if object_list %}
			<a href="#" onclick="tableToExcel('dataTable', 'Cr Nuevo Horizonte')" style="font-style:italic; color:#5FC65A;">
                Exportar a excel_ <i class="fas fa-file-excel"></i></a>
				<table class="table table-sm table-striped text-center" id="dataTable">
			      <thead>
			      	<tr style="background:#2DA544; color:white; font-weight: bold;">
			          	<td>N°</td>
						<td>Tipo de reparto</td>
						<td>Fecha</td>
						<td>Estado</td>
						<td><i class="fas fa-box-open"></i></td>
			        </tr>
			      </thead>
			      <tbody id="cuerpo">
				{% for ob in object_list %}
					<tr style="font-size: 0.8em;">
						<td>[{{ob.id_reparto}}]</td>
						<td>{{ ob.tipo }}</td>
						<td>{{ ob.fecha_reparto }}</td>
						<td>{{ ob.estado }}</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-sm btn-outline-success" href="{% url 'c_reparto_edi' ob.id_reparto %}"><i class="far fa-edit">     </i> CORREGIR</a>		
								<a class="btn btn-sm btn-outline-danger"  href="{% url 'c_reparto_eli' ob.id_reparto %}"><i class="fas fa-trash-alt"></i>  ELIMINAR</a>
							</div>
						</td>
					</tr>
				{% endfor %}
					</tbody>
				</table>				
				{% else %}
					<h1>Error en el servidor</h1>
				{% endif %}
		</div>


		<div class="col-12 my-2">
			<a href="{% url 'c_reparto_reg' %}" class="btn btn-outline-success form-control">+  _ NUEVO REPARTO</a>
		</div>




	</div>
</div>


{% endblock cuerpo %}


